<div class="row">
    <div class="col">
        <img class="img-thumbnail" src="{{slide.image}}" width="350" height="350">
    </div>
    <div class="col">
        <table class="table table-bordered text-center mt-4">
            <tr>
                <th colspan="2" class="text text-bg-dark">slide INFO</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>{{slide.name}}</th>
            </tr>
            <tr>
                <th>price</th>
                <th>{{slide.price}}</th>
            </tr>
            <tr>
                <th>color</th>
                <th>{{slide.color}}</th>
            </tr>
            <tr>
                <th>date</th>
                <th>{{dateFormat slide.date "DD/MM/YYYY"}}</th>
            </tr>
            <tr>
                <th>description</th>
                <th>{{slide.description}}</th>
            </tr>
        </table>
    </div>
</div>